[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/WebToDeskExcel
Icon=/opt/WebToDesk/assets/Excel.png
Type=Application
Terminal=false
Comment=MS Office Portal
Name=Microsoft Excel
GenericName=MSExcel
StartupNotify=false
Categories=Development;
