[Desktop Entry]
Encoding=UTF-8
Exec=/opt/WebToDesk/bin/word
Icon=/opt/WebToDesk/assets/Word.ico
Type=Application
Terminal=false
Comment=MS Office Portal
Name=Microsoft Word
GenericName=MSWord
StartupNotify=false
Categories=Development;IDE;
